body {
    background-image: url("../img/pattern.jpg");
}
header{
    background: white;
    position: fixed;
    margin-bottom: 100px;
    width: 100%;
    z-index: +1;
}
h5{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}
#col2{
    text-align: right;
    padding-top: 15px;
}